.login_container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.title_header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: green;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    margin-bottom: 20px;
    color: white;
    padding: 20px 0;
}
.login_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login_form div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login_form label {
    text-align: center;
    font-weight: bold;
}

.login_form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.login_button{
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    width: 100px;
}